fastapi
uvicorn[standard]
pandas
torch
transformers
scikit-learn
numpy
langdetect
googletrans== 4.0.2
textblob
psycopg2-binary
websockets
slowapi
python-dotenv
python-jose
starlette
joblib
sqlalchemy
nltk==3.8.1
httpx== 0.28.1